* {
	border: 1px dashed blue;
}

div {
	height: 50px;
	width: 100px;
	border: 2px solid black;
	border-radius: 5px;
	margin: 0 auto;
	/*Add your CSS here!*/
	/*display: block; */
	
}

#one {
	background-color: #FF0000;
	width: 500px;
	float: left;
}

#two {
	background-color: #0000FF;
	width: 500px;
	float: left;
}

#three {
	background-color: #FFD700;
	width: 500px;
	float: left;
}

#four {
	background-color: #308014;
}